
#site_header{
    background-image: url(./img/pattern.png);
    background-size: contain;
    background-color: #4ea0ff;
    height: 100px;
    position: relative;
}

#logo{
    width: 200px;
    position: absolute;
    bottom: 0;
}

#title{
    margin-bottom: 0;
    font-size: 50px;
}

#name_author{
    color: blue;
}

#date{
    margin-top: 0;
    font-size: 12px;
}

#origin_photo{
    margin-top: 0;
    font-size: 12px;
}

.make_evident{
    background-color: yellow;
}

table{
    border-collapse: collapse;
    text-align: left;
}

td{
    width: 30%;
}

#head_table{
    background-color: #20a9e5;
}

.body_table{
    background-color: #b1e5f2;
}

#suggestions{
    color: #848484;
}

#item_monitor{
    width: 240px;
    height: 150px;
    background-image: url(./img/monitor.jpg);
    color: white;
}

#item_graph{
    width: 240px;
    height: 150px;
    background-image: url(./img/graph.jpg);
    color: white;
}
